/*@font-face {*/
    /*font-family: Lato;*/
    /*src: url('../fonts/Lato-Regular.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Italic;*/
    /*src: url('../fonts/Lato-Italic.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Bold;*/
    /*src: url('../fonts/Lato-Bold.ttf');*/
/*}*/

html { overflow-y: scroll; }

body {
    background: #000000 url(../images/bg_august.JPG) 0 0 scroll;
    position:relative;
    min-height:99%;2
}

#title{
    background:transparent url(../images/title_august.png) 0 0 scroll;
    position:absolute;
    top:45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height:62px;
    width:334px;
    z-index:1;
}

#download{
    position:absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
    text-align: center;
    font-size:12px;
    color:#999;
    font-family:arial, sans-serif;
    z-index: 1;
}

#download:hover{
    color:#fff;
}

#footer {
    position:absolute;
    width:100%;
    bottom:2;
    height:10px;
    margin-top: 20px;
}

.fluid-wrapper {
    position: relative;
    padding-bottom: 40%;
    height: 0;
}

.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}